.footer {
  text-align: center;
}

.footer__list {
  list-style: none;
}

.footer__list, .footer__list-item {
  display: inline;
}

.footer__list-item:not(:last-child) {
  margin-right: 1rem;
}

.footer__icon {
  width: 2.5rem;
  filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(21deg) brightness(102%) contrast(107%);
}
